body{
    font-family: 'Varela Round', sans-serif;
}



.color-1{
    color: rgb(250, 176, 5);
}

.color-2{
    color: rgb(24, 49, 83);
}

.bg-1{
    background-color: rgb(250, 176, 5);
}

.bg-2{
    background-color: rgb(24, 49, 83);
}
.bg-3{
    background-color:#F0F1F3;
}

.btn:hover{
    background-color: rgb(250, 176, 5);
}

.hero{
    margin-top: 20px;
}

.web-title{
    font-weight: 700;
    font-size: 48px;
}

.sub-title{
    font-size: 20px;
    font-weight: 400;
}
